{% extends 'templates/main.html' %}
{% load static %}


{% block content %}

<div class="col-lg-11 m-t-100">
    <div class="card">
        <div class="card-header">Your Profile</div>
        <div class="card-body card-block">
            <form action="update_profile" method="post" novalidate enctype="multipart/form-data">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-user"></i>
                        </div>
                        <input type="text" id="username" name="firstname" placeholder="First Name" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-user"></i>
                        </div>
                        <input type="text" id="username" name="lastname" placeholder="Last Name" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-user"></i>
                        </div>
                        <input type="text" id="username" name="username" placeholder="Username" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <input type="email" id="email" name="email" placeholder="Email" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-asterisk"></i>
                        </div>
                        <input type="password" id="password" name="password" placeholder="Password"
                            class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="card">
                        <div class="card-header">
                            <label class="label">Choose Assigned Subjects</label>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6 col-md-10">
                                    <div class="card border border-primary h-auto">
                                        <div class="card-header">
                                            <strong class="card-title">SEMESTER 1</strong>
                                        </div>
                                        <div class="card-body">
                                            <div class="form-check">
                                                <div class="checkbox">
                                                    <label for="310901" class="form-check-label ">
                                                        <input type="checkbox" id="310901" name="310901"
                                                            value="C and C++ Programming" class="form-check-input">C
                                                        and C++
                                                        Programming
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label for="310902" class="form-check-label ">
                                                        <input type="checkbox" id="310902" name="310902"
                                                            value="Computer Organization" class="form-check-input">
                                                        Computer
                                                        Organization
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label for="310903" class="form-check-label ">
                                                        <input type="checkbox" id="310903" name="310903"
                                                            value="Principles of Programming Practices"
                                                            class="form-check-input">
                                                        Principles
                                                        of Programming Practices
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label for="310904" class="form-check-label ">
                                                        <input type="checkbox" id="310904" name="310904"
                                                            value="Discrete Mathematics"
                                                            class="form-check-input">Discrete
                                                        Mathematics
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label for="310905" class="form-check-label ">
                                                        <input type="checkbox" id="310905" name="310905"
                                                            value="Probability & Statistics"
                                                            class="form-check-input">Probability &
                                                        Statistics
                                                    </label>
                                                    <div class="checkbox">
                                                        <label for="310906" class="form-check-label ">
                                                            <input type="checkbox" id="310906" name="310906"
                                                                value="Business Communications"
                                                                class="form-check-input">Business
                                                            Communications
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-10">
                                    <div class="card border border-primary h-auto">
                                        <div class="card-header">
                                            <strong class="card-title">SEMESTER 2</strong>
                                        </div>
                                        <div class="card-body">
                                            <div class="form-check">
                                                <div class="checkbox">
                                                    <label for="310909" class="form-check-label ">
                                                        <input type="checkbox" id="310909" name="310909"
                                                            value="Java Programming" class="form-check-input">"Java
                                                        Programming
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label for="310910" class="form-check-label ">
                                                        <input type="checkbox" id="310910" name="310910"
                                                            value="Data Structures using C" class="form-check-input">
                                                        Data Structures using C
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label for="310911" class="form-check-label ">
                                                        <input type="checkbox" id="310911" name="310911"
                                                            value="Web Technologies" class="form-check-input">
                                                        Web Technologies
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label for="310912" class="form-check-label ">
                                                        <input type="checkbox" id="310912" name="310912"
                                                            value="System Analysis & Design"
                                                            class="form-check-input">System Analysis & Design
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label for="310913" class="form-check-label ">
                                                        <input type="checkbox" id="310913" name="310913"
                                                            value="Management Theory & Practices"
                                                            class="form-check-input">Management Theory & Practices
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-10">
                                    <div class="card border border-primary h-auto">
                                        <div class="card-header">
                                            <strong class="card-title">SEMESTER 3</strong>
                                        </div>
                                        <div class="card-body">
                                            <div class="form-check">
                                                <div class="checkbox">
                                                    <label for="410901" class="form-check-label ">
                                                        <input type="checkbox" id="410901" name="410901"
                                                            value="Advanced Java" class="form-check-input">"Advanced
                                                        Java
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label for="410902" class="form-check-label ">
                                                        <input type="checkbox" id="410902" name="410902"
                                                            value="Data Structures using C" class="form-check-input">
                                                        DBMS
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label for="410903" class="form-check-label ">
                                                        <input type="checkbox" id="410903" name="410903"
                                                            value="Operating Systems" class="form-check-input">Operating
                                                        Systems
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label for="410904" class="form-check-label ">
                                                        <input type="checkbox" id="410904" name="410904" value="OOAD"
                                                            class="form-check-input">OOAD
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label for="410905" class="form-check-label ">
                                                        <input type="checkbox" id="410905" name="410905"
                                                            value="Operations Research" class="form-check-input">
                                                        Operations Research
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-10">
                                    <div class="card border border-primary h-auto">
                                        <div class="card-header">
                                            <strong class="card-title">SEMESTER 4</strong>
                                        </div>
                                        <div class="card-body">
                                            <div class="form-check">
                                                <div class="checkbox">
                                                    <label for="410909" class="form-check-label ">
                                                        <input type="checkbox" id="410909" name="410909"
                                                            value="Advanced Web Technology"
                                                            class="form-check-input">"Advanced Web Technology
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label for="410910" class="form-check-label ">
                                                        <input type="checkbox" id="410910" name="410910"
                                                            value="Data Structures using C" class="form-check-input">
                                                        Banking and FAM
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label for="410911" class="form-check-label ">
                                                        <input type="checkbox" id="410911" name="410911"
                                                            value="CN & Information Security" class="form-check-input">
                                                        CN & Information Security
                                                    </label>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header">
                                                        Elective 1
                                                    </div>
                                                    <div class="card-body">
                                                        <select name="elective_1" id="elective_1" class="form-control">
                                                            <option value="1">IS Audit</option>
                                                            <option value="2">Cyber Laws</option>
                                                            <option value="3">IT Governance</option>
                                                            <option value="4">IT Service Management</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-10">
                                    <div class="card border border-primary h-auto">
                                        <div class="card-header">
                                            <strong class="card-title">SEMESTER 5</strong>
                                        </div>
                                        <div class="card-body">
                                            <div class="form-check">
                                                <div class="checkbox">
                                                    <label for="510901" class="form-check-label ">
                                                        <input type="checkbox" id="510901" name="510901"
                                                            value="Recent Technologies in IT"
                                                            class="form-check-input">Recent Technologies in IT
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label for="510902" class="form-check-label ">
                                                        <input type="checkbox" id="510902" name="510902"
                                                            value="Software Testing and Quality Assurance"
                                                            class="form-check-input">
                                                        Software Testing and Quality Assurance
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label for="510903" class="form-check-label ">
                                                        <input type="checkbox" id="510903" name="510903"
                                                            value="Software Engineering" class="form-check-input">
                                                        Software Engineering
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label for="510904" class="form-check-label ">
                                                        <input type="checkbox" id="510904" name="510904"
                                                            value="Data warehousing, data mining and BI"
                                                            class="form-check-input">Data warehousing, data mining and
                                                        BI
                                                    </label>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header">
                                                        Elective 2
                                                    </div>
                                                    <div class="card-body">
                                                        <select name="elective_2" id="elective_2" class="form-control">
                                                            <option value="1">Animation & Gaming</option>
                                                            <option value="2">Mobile Computing</option>
                                                            <option value="3">High Performance Networks</option>
                                                            <option value="4">Open Elective</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-10">
                                    <div class="card border border-primary h-auto">
                                        <div class="card-header">
                                            <strong class="card-title">SEMESTER 6</strong>
                                        </div>
                                        <div class="card-body">
                                            <div class="form-check">
                                                <div class="checkbox">
                                                    <label for="510909" class="form-check-label ">
                                                        <input type="checkbox" id="510909" name="510909"
                                                            value="Major Project" class="form-check-input">Major Project
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label for="510910" class="form-check-label ">
                                                        <input type="checkbox" id="510910" name="510910"
                                                            value="Seminar on Domain of Major Project #2"
                                                            class="form-check-input">
                                                        Seminar on Domain of Major Project #2
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-6">
                        <label for="profile_pic" class=" form-control-label">Profile Picture</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <input type="file" id="profile_pic" name="profile_pic" class="form-control-file">
                    </div>
                </div>
                <div class="form-actions form-group">
                    <button type="submit" class="btn btn-success btn-sm">Update Details</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}