<!--A Design by W3layouts 
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load static %}
<!doctype html>
<html>

<head>
	<title>Student Registration Form Flat Responsive widget Template :: w3layouts</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords"
		content="Student Registration Form Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>

	<!-- fonts -->
	<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i"
		rel="stylesheet">
	<!-- /fonts -->
	<!-- css -->
	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type='text/css' media="all" />
	<link href="{% static 'css/style.css' %}" rel="stylesheet" type='text/css' media="all" />
	<!-- /css -->
</head>

<body>

	<div class="content-agileits">
		<h1 class="title">Student registration Form</h1>
		<div class="left">
			<form action="{% url 'studentRegistration' %}" method="post" enctype="multipart/form-data" data-toggle="validator">
				{% csrf_token %}
				<div class="form-group">
					<input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name"
						data-error="Enter First Name" required>
					<div class="help-block with-errors"></div>
				</div>
				<div class="form-group">
					<input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name"
						data-error="Enter Last Name" required>
					<div class="help-block with-errors"></div>
				</div>
				<div class="form-group">
					<input type="email" class="form-control" id="inputEmail" name="email" placeholder="Email"
						data-error="This email address is invalid" required>
					<div class="help-block with-errors"></div>
				</div>
				<div class="form-group">
					<input type="text" class="form-control" id="Phone" name="phone" placeholder="Phone"
						data-error="Enter Phone Number" required>
					<div class="help-block with-errors"></div>
				</div>
				<div class="form-group">
					<input type="text" class="form-control" id="rollNumber" name="rollNumber" placeholder="Roll Number"
						data-error="Enter Roll number" required>
					<div class="help-block with-errors"></div>
				</div>
				<div class="form-group">
					<input type="number" class="form-control" id="year" name="year" placeholder="Year"
						data-error="Enter year" required>
					<div class="help-block with-errors"></div>
				</div>
				<div class="form-group">
					<input type="text" class="form-control" id="shift" name="shift" placeholder="Shift (0 if none)"
						data-error="Enter Shift" required>
					<div class="help-block with-errors"></div>
				</div>
				<div class="form-group w3ls-opt">
					<label for="Phone" class="control-label">Gender</label>

					<label class="w3layouts">
						<input type="radio" name="male" id="male" name="male" value="male">Male
					</label>
					<label class="w3layouts label2">
						<input type="radio" name="female" id="female" name="female" value="female">Female
					</label>

					<div class="help-block with-errors"></div>
				</div>
				
				<div class="form-group">
					<button type="submit" class="btn btn-lg">Next</button>
				</div>
			</form>
		</div>
		<div class="clear"></div>
	</div>
	<p class="copyright-w3ls">© 2017 Student Registration Form. All Rights Reserved | Design by
		<a href="https://w3layouts.com/" target="_blank">W3layouts</a>
	</p>
	<!-- js -->
	<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
	<!-- //js -->

	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/validator.min.js' %}"></script>
	<!-- /js files -->

	
</body>

</html>