{% extends 'templates/main.html' %}
{% load static %}

{% block content %}
<!-- MAIN CONTENT-->
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    {% for message in messages %}
                    {% if message.tags == 'success'%}
                    <div class="alert au-alert-success alert-dismissible fade show au-alert au-alert--70per"
                        role="alert">
                        <i class="zmdi zmdi-check-circle"></i>
                        <span class="content">{{message}}</span>
                        <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">
                                <i class="zmdi zmdi-close-circle"></i>
                            </span>
                        </button>
                    </div>
                    {% elif message.tags == 'info'%}
                    <div class="alert au-alert-success alert-dismissible fade show au-alert au-alert--70per"
                        role="alert">
                        <i class="zmdi zmdi-info"></i>
                        <span class="content">{{message}}</span>
                        <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">
                                <i class="zmdi zmdi-close-circle"></i>
                            </span>
                        </button>
                    </div>
                    {% elif message.tags == 'warning'%}
                    <div class="alert alert-default-warning alert-dismissible fade show au-alert au-alert--70per"
                        role="alert">
                        <i class="zmdi zmdi-alert-triangle"></i>
                        <span class="content">{{message}}</span>
                        <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">
                                <i class="zmdi zmdi-close-circle"></i>
                            </span>
                        </button>
                    </div>
                    {% elif message.tags == 'error'%}
                    <div class="alert alert-danger alert-dismissible fade show au-alert au-alert--70per" role="alert">
                        <i class="zmdi zmdi-alert-triangle"></i>
                        <span class="content">{{message}}</span>
                        <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">
                                <i class="zmdi zmdi-close-circle"></i>
                            </span>
                        </button>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="row m-t-25 mb-5">
                <div class="col-sm-6 col-lg-3">
                    <div class="overview-item overview-item--c1">
                        <div class="overview__inner">
                            <div class="overview-box clearfix">
                                <div class="icon">
                                    <i class="zmdi zmdi-account-o"></i>
                                </div>
                                <div class="text">
                                    <h2>{{faculty_count}}</h2>
                                    <span>Faculties Registered</span>
                                </div>
                            </div>
                            <div class="overview-chart">
                                <canvas id="widgetChart1"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="overview-item overview-item--c2">
                        <div class="overview__inner">
                            <div class="overview-box clearfix">
                                <div class="icon">
                                    <i class="zmdi zmdi-account-box"></i>
                                </div>
                                <div class="text">
                                    <h2>{{student_count}}</h2>
                                    <span>Students Registered</span>
                                </div>
                            </div>
                            <div class="overview-chart">
                                <canvas id="widgetChart2"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="overview-item overview-item--c3">
                        <div class="overview__inner">
                            <div class="overview-box clearfix">
                                <div class="icon">
                                    <i class="zmdi zmdi-calendar-note"></i>
                                </div>
                                <div class="text">
                                    <h2>1,086</h2>
                                    <span>this week</span>
                                </div>
                            </div>
                            <div class="overview-chart">
                                <canvas id="widgetChart3"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="overview-item overview-item--c4">
                        <div class="overview__inner">
                            <div class="overview-box clearfix">
                                <div class="icon">
                                    <i class="zmdi zmdi-money"></i>
                                </div>
                                <div class="text">
                                    <h2>$1,060,386</h2>
                                    <span>total earnings</span>
                                </div>
                            </div>
                            <div class="overview-chart">
                                <canvas id="widgetChart4"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Take Attendance -->
            <div class="row m-t-100" id="attendance">
                <div class="col-lg-12">
                    <div class="au-card recent-report">
                        <div class="au-card-inner">
                            <h3 class="title-2">Take Attendance</h3>
                            <div class="take_attendance card card-body">
                                <form action="take_attendance" method="post" enctype="multipart/form-data"
                                    data-toggle="validator">
                                    {% csrf_token %}
                                    <div class="col-lg-12 row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="sel1">Select Shift:</label>
                                                <select name='Shift' class="form-control" id="sel1">
                                                    <option value="1">I</option>
                                                    <option value="2">II</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="sel1">Select year:</label>
                                                <select name='year' class="form-control" id="sel1">
                                                    <option value="1">FY</option>
                                                    <option value="2">SY</option>
                                                    <option value="3">TY</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="sel1">Select Faculty Name</label>
                                        <select name="faculty" class="form-control" id="sel1">
                                            {% for name in faculty %}
                                            <option value={{name}}>{{name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="text" name="subject_name"
                                            placeholder="Enter Subject Name" data-error="Enter Valid Subject name"
                                            required>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" id="submit" class="btn btn-primary btn-block btn-lg">Take
                                            Attendance</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Assign faculty to the subject -->
            <div class="row m-t-100" id="attendance">
                <div class="col-lg-12">
                    <div class="au-card recent-report">
                        <div class="au-card-inner">
                            <h3 class="title-2">Assign Faculty</h3>
                            <div class="take_attendance card card-body">
                                <form action="faculty_subject_assign" method="post" enctype="multipart/form-data"
                                    data-toggle="validator">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="sel1">Select Faculty Name</label>
                                        <select name="faculty" class="form-control" id="sel1">
                                            {% for user in faculty %}
                                            <option value={{user.username}}>{{user.username}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <div class="card">
                                            <div class="card-header">
                                                <label class="label">Assign Subjects</label>
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-10">
                                                        <div class="card border border-primary h-auto">
                                                            <div class="card-header">
                                                                <strong class="card-title">SEMESTER 1</strong>
                                                            </div>
                                                            <div class="card-body">
                                                                <div class="form-check">
                                                                    {% for subject in sem1_subjects %}
                                                                    <div class="checkbox">
                                                                        <label for="subject" class="form-check-label">
                                                                            <input type="checkbox" id="subject"
                                                                                name="subject[]"
                                                                                value={{subject.subject_code}}
                                                                                class="frm-check-input">
                                                                            {{subject.subject_name}}
                                                                        </label>
                                                                    </div>
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-10">
                                                        <div class="card border border-primary h-auto">
                                                            <div class="card-header">
                                                                <strong class="card-title">SEMESTER 2</strong>
                                                            </div>
                                                            <div class="card-body">
                                                                <div class="form-check">
                                                                    {% for subject in sem2_subjects %}
                                                                    <div class="checkbox">
                                                                        <label for="subject" class="form-check-label">
                                                                            <input type="checkbox" id="subject"
                                                                                name="subject[]"
                                                                                value={{subject.subject_code}}
                                                                                class="frm-check-input">
                                                                            {{subject.subject_name}}
                                                                        </label>
                                                                    </div>
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6 mx-auto col-md-10">
                                                        <div class="card border border-primary h-auto">
                                                            <div class="card-header">
                                                                <strong class="card-title">SEMESTER 3</strong>
                                                            </div>
                                                            <div class="card-body">
                                                                <div class="form-check">
                                                                    {% for subject in sem3_subjects %}
                                                                    <div class="checkbox">
                                                                        <label for="subject" class="form-check-label">
                                                                            <input type="checkbox" id="subject"
                                                                                name="subject[]"
                                                                                value={{subject.subject_code}}
                                                                                class="frm-check-input">
                                                                            {{subject.subject_name}}
                                                                        </label>
                                                                    </div>
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-10">
                                                        <div class="card border border-primary h-auto">
                                                            <div class="card-header">
                                                                <strong class="card-title">SEMESTER 4</strong>
                                                            </div>
                                                            <div class="card-body">
                                                                <div class="form-check">
                                                                    {% for subject in sem4_subjects %}
                                                                    <div class="checkbox">
                                                                        <label for="subject" class="form-check-label">
                                                                            <input type="checkbox" id="subject"
                                                                                name="subject[]"
                                                                                value={{subject.subject_code}}
                                                                                class="frm-check-input">
                                                                            {{subject.subject_name}}
                                                                        </label>
                                                                    </div>
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-10">
                                                        <div class="card border border-primary h-auto">
                                                            <div class="card-header">
                                                                <strong class="card-title">SEMESTER 5</strong>
                                                            </div>
                                                            <div class="card-body">
                                                                <div class="form-check">
                                                                    {% for subject in sem5_subjects %}
                                                                    <div class="checkbox">
                                                                        <label for="subject" class="form-check-label">
                                                                            <input type="checkbox" id="subject"
                                                                                name="subject[]"
                                                                                value={{subject.subject_code}}
                                                                                class="frm-check-input">
                                                                            {{subject.subject_name}}
                                                                        </label>
                                                                    </div>
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" id="submit"
                                            class="btn btn-primary btn-block btn-lg">Assign</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Assign faculty to the subject -->
            <div class="row m-t-100" id="View Faculty">
                <div class="col-lg-12">
                    <div class="au-card recent-report">
                        <div class="au-card-inner">
                            <h3 class="title-2">View Faculty</h3>
                            <div class="take_attendance card card-body">
                                <form action="searchFacultyRecord" method="post" enctype="multipart/form-data"
                                    data-toggle="validator">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="sel1">Select Faculty Name</label>
                                        <select name="faculty" class="form-control" id="sel1">
                                            {% for user in faculty %}
                                            <option value={{user.username}}>{{user.username}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" id="submit"
                                            class="btn btn-primary btn-block btn-lg">Search</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-t-100" id="updateStudentRecored">
                <div class="col-lg-12">
                    <div class="au-card recent-report">
                        <div class="au-card-inner">
                            <h3 class="title-2">Update Student Record</h3>
                            <div class="take_attendance card card-body">
                                <form action="updateStudentRedirect" method="post" enctype="multipart/form-data"
                                    data-toggle="validator">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="text" name="rollNumber"
                                        placeholder="Enter roll number" data-error="Enter valid roll number"
                                        required>
                                    <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="col-lg-12 row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="sel1">Select Shift:</label>
                                                <select name='shift' class="form-control" id="sel1">
                                                    <option value="1">I</option>
                                                    <option value="2">II</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="sel1">Select year:</label>
                                                <select name='year' class="form-control" id="sel1">
                                                    <option value="1">FY</option>
                                                    <option value="2">SY</option>
                                                    <option value="3">TY</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" id="submit"
                                            class="btn btn-primary btn-block btn-lg">Search Student</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT-->
{% endblock %}