{% load static %}

<!DOCTYPE html>
<html>

<head>
	<!-- Required meta tags-->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Title Page-->
	<title>Attendance System</title>
	<script type="text/javascript">
		function EnableDisableTextBox() {
				var selectedValue = document.getElementById("selectReport").value;
				var id = document.getElementById("ID");
				var roll = document.getElementById("roll");
				var subCode = document.getElementById("sub_code");
				
				if(selectedValue == '1'){
					id.disabled= false;      
					roll.disabled=true;      
					subCode.disabled=true;     
				}
				if(selectedValue == '2'){
					roll.disabled=false;
					id.disabled= true;   
					subCode.disabled=true; 
				}
				if(selectedValue == '3'){
					roll.disabled=false;
					subCode.disabled=false;
					id.disabled=true;
				}
			}
	</script>
	

	<!-- Fontfaces CSS-->
	<link href="{% static 'css/font-face.css' %}" rel="stylesheet" media="all">
	<link href="{% static 'vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
	<link href="{% static 'vendor/font-awesome-5/css/fontawesome-all.min.css' %}" rel="stylesheet" media="all">
	<link href="{% static 'vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">

	<!-- Bootstrap CSS-->
	<link href="{% static 'vendor/bootstrap-4.1/bootstrap.min.css' %}" rel="stylesheet" media="all">

	<!-- Vendor CSS-->
	<link href="{% static 'vendor/animsition/animsition.min.css' %}" rel="stylesheet" media="all">
	<link href="{% static 'vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet"
		media="all">
	<link href="{% static 'vendor/wow/animate.css' %}" rel="stylesheet" media="all">
	<link href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}" rel="stylesheet" media="all">
	<link href="{% static 'vendor/slick/slick.css' %}" rel="stylesheet" media="all">
	<link href="{% static 'vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
	<link href="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.css' %}" rel="stylesheet" media="all">

	<!-- Main CSS-->
	<link href="{% static 'css/theme.css' %}" rel="stylesheet" media="all">
	<link rel="stylesheet" href="{% static 'css/style.css' %}" media="all">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>

	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>

	<!-- Smooth Scrolling -->
	<script>
		$(document).ready(function () {
			// Add smooth scrolling to all links
			$("a").on('click', function (event) {

				// Make sure this.hash has a value before overriding default behavior
				if (this.hash !== "") {
					// Prevent default anchor click behavior
					event.preventDefault();

					// Store hash
					var hash = this.hash;

					// Using jQuery's animate() method to add smooth page scroll
					// The optional number (1500) specifies the number of milliseconds it takes to scroll to the specified area
					$('html, body').animate({
						scrollTop: $(hash).offset().top - 200
					}, 2500, function () {

						// Add hash (#) to URL when done scrolling (default click behavior)
						window.location.hash = hash;
					});
				} // End if
			});
		});
	</script>
</head>

<body class="animsition">
	<div class="page-wrapper">
		<!-- HEADER MOBILE-->
		<header class="header-mobile d-block d-lg-none">
			<div class="header-mobile__bar">
				<div class="container-fluid">
					<div class="header-mobile-inner">
						<a class="logo" href="home">
							<b>MCOE MCA DEPARTMENT</b>
						</a>
						<button class="hamburger hamburger--slider" type="button">
							<span class="hamburger-box">
								<span class="hamburger-inner"></span>
							</span>
						</button>
					</div>
				</div>
			</div>
			<nav class="navbar-mobile">
				<div class="container-fluid">
					<ul class="navbar-mobile__list list-unstyled">
						<li class="has-sub">
							<a class="js-arrow" href="home">
								<i class="fas fa-tachometer-alt"></i>Home</a>
						</li>
						<li>
							<a href="calendar.html">
								<i class="fas fa-calendar-alt"></i>Calendar</a>
						</li>
						<li>
							<a href="chart.html">
								<i class="fas fa-chart-bar"></i>Create Lecture</a>
						</li>
						<li>
							<a href="reports" method=POST>
								<i class="fas fa-table"></i>View Report</a>
						</li>
					</ul>
				</div>
			</nav>
		</header>
		<!-- END HEADER MOBILE-->

		<!-- MENU SIDEBAR-->
		<aside class="menu-sidebar d-none d-lg-block">
			<div class="logo">
				<a class="logo" href="home">
					<b>MCOE MCA DEPARTMENT</b>
				</a>
			</div>
			<div class="menu-sidebar__content js-scrollbar1">
				<nav class="navbar-sidebar">
					<ul class="list-unstyled navbar__list">
						{% if request.user.username == "admin" %}							
						<li>
							<a href="admin"><i class="fas fa-user"></i>Home</a>
						</li>
						{% else %}
						<li>
							<a href="home"><i class="fas fa-user"></i>Home</a>
						</li>
						{% endif %}
						<li>
							<a href="#attendance">
								<i class="fas fa-chart-bar"></i>Create Lecture</a>
						</li>
						<li>
							<a href="#">
								<i class="fas fa-calendar-alt"></i>Calendar</a>
						</li>
						<li>
							<a href="reports.html">
								<i class="fas fa-chart-bar"></i>View Reports</a>
						</li>
						
						{% if request.user.username == "admin" %}							
						<li>
							<a href="registerStudent"><i class="fas fa-user"></i>Register New Student</a>
						</li>
						{% endif %}
					</ul>
				</nav>
			</div>
		</aside>
		<!-- END MENU SIDEBAR-->
		<!-- PAGE CONTAINER-->
		<div class="page-container">
			{% include 'templates/navbar.html' %}

			{% block content %}

			{% endblock content %}

		</div>
	</div>
</body>

<!-- Jquery JS-->
<script src="{% static 'vendor/jquery-3.2.1.min.js' %}"></script>
<!-- Bootstrap JS-->
<script src="{% static 'vendor/bootstrap-4.1/popper.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap-4.1/bootstrap.min.j' %}s"></script>
<!-- Vendor JS       -->
<script src="{% static 'vendor/slick/slick.min.js' %}">
</script>
<script src="{% static 'vendor/wow/wow.min.js' %}"></script>
<script src="{% static 'vendor/animsition/animsition.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap-progressbar/bootstrap-progressbar.min.js' %}">
</script>
<script src="{% static 'vendor/counter-up/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'vendor/counter-up/jquery.counterup.min.js' %}">
</script>
<script src="{% static 'vendor/circle-progress/circle-progress.min.js' %}"></script>
<script src="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
<script src="{% static 'vendor/chartjs/Chart.bundle.min.js' %}"></script>
<script src="{% static 'vendor/select2/select2.min.js' %}">
</script>

<!-- Main JS-->
<script src="{% static 'js/main.js' %}"></script>


<!-- /js files -->

</html>