{% extends 'templates/main.html' %}
{% load static %}

{% block content %}
<!-- MAIN CONTENT-->
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    {% for message in messages %}
                    {% if message.tags == 'success'%}
                    <div class="alert au-alert-success alert-dismissible fade show au-alert au-alert--70per"
                        role="alert">
                        <i class="zmdi zmdi-check-circle"></i>
                        <span class="content">{{message}}</span>
                        <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">
                                <i class="zmdi zmdi-close-circle"></i>
                            </span>
                        </button>
                    </div>
                    {% elif message.tags == 'info'%}
                    <div class="alert au-alert-success alert-dismissible fade show au-alert au-alert--70per"
                        role="alert">
                        <i class="zmdi zmdi-info"></i>
                        <span class="content">{{message}}</span>
                        <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">
                                <i class="zmdi zmdi-close-circle"></i>
                            </span>
                        </button>
                    </div>
                    {% elif message.tags == 'warning'%}
                    <div class="alert alert-default-warning alert-dismissible fade show au-alert au-alert--70per"
                        role="alert">
                        <i class="zmdi zmdi-alert-triangle"></i>
                        <span class="content">{{message}}</span>
                        <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">
                                <i class="zmdi zmdi-close-circle"></i>
                            </span>
                        </button>
                    </div>
                    {% elif message.tags == 'error'%}
                    <div class="alert alert-danger alert-dismissible fade show au-alert au-alert--70per" role="alert">
                        <i class="zmdi zmdi-alert-triangle"></i>
                        <span class="content">{{message}}</span>
                        <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">
                                <i class="zmdi zmdi-close-circle"></i>
                            </span>
                        </button>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <!-- Take Attendance -->

            <div class="row m-t-75" id="attendance">
                <div class="col-lg-12">
                    <div class="au-card recent-report">
                        <div class="au-card-inner">
                            <h3 class="title-2">Register New Student</h3>
                            <div class="take_attendance card card-body">
                                <form action="registerStudent" method="post" enctype="multipart/form-data"
                                    data-toggle="validator">
                                    {% csrf_token %}
                                    <div class="col-lg-12 row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="sel1">Select Shift:</label>

                                                <select name='shift' class="form-control" id="sel1">

                                                <select name='shift' class="form-control" id="shift">

                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="sel1">Select year:</label>
                                                <select name='year' class="form-control" id="year">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

            <div class="row m-t-100" id="attendance">
                <div class="col-lg-12">
                    <div class="au-card recent-report">
                        <div class="au-card-inner">
                            <h3 class="title-2">Register Student</h3>
                            <div class="take_attendance card card-body">
                                <form action="take_attendance" method="post" enctype="multipart/form-data"
                                    data-toggle="validator">
                                    {% csrf_token %}

                                    <div class="form-group">
                                        <input type="text" class="form-control" id="firstname" name="firstname"
                                            placeholder="First Name" data-error="Enter First Name" required>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="lastname" name="lastname"
                                            placeholder="Last Name" data-error="Enter Last Name" required>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="email" name="email"
                                            placeholder="Email" data-error="This email address is invalid" required>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="phone" name="phone"
                                            placeholder="Phone" data-error="Enter Phone Number" required>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="rollNumber" name="rollNumber"
                                            placeholder="Roll Number" data-error="Enter Roll number" required>
                                        <div class="help-block with-errors"></div>
                                    </div>

                                    <div class="form-group">

                                        <div class="form-check-inline form-check">
                                            <label for="gender-male" class="form-check-label ">
                                                <input type="radio" id="gender-male" name="gender" value="Male" class="form-check-input">Male
                                            </label>
                                            <label for="gender-female" class="form-check-label ">
                                                <input type="radio" id="gender-female" name="gender" value="Female" class="form-check-input">Female
                                            </label>
                                        </div>

                                        <label for="sel1">Select Gender:</label>
                                        <select name='gender' class="form-control" id="gender">
                                            <option value="0">Select Gender</option>
                                            <option value="MALE">Male</option>
                                            <option value="FEMALE">Female</option>                                                
                                        </select>

                                    </div>
                                    <div class="form-group">
                                        <button type="submit" id="submit"
                                            class="btn btn-primary btn-block btn-lg">Register</button>

                                    <div class="col-lg-12 row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="sel1">Select Shift:</label>
                                                <select name='shift' class="form-control" id="sel1">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label for="sel1">Select year:</label>
                                                <select name='year' class="form-control" id="sel1">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group w3ls-opt">
                                        <label for="Phone" class="control-label">Gender</label>
                                        <fieldset>
                                            <label class="w3layouts">
                                                <input type="radio" id="gender" name="gender" value="male">Male
                                            </label>
                                            <label class="w3layouts label2">
                                                <input type="radio" id="gender" name="gender" value="female">Female
                                            </label>
                                        </fieldset>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" id="submit" class="btn btn-primary btn-block btn-lg">Take
                                            Save and Next</button>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT-->
{% endblock %}